[Desktop Entry]
Encoding=UTF-8
Name=Cub
Comment=Cub P2P Cryptocurrency
Comment[fr]=Cub, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cub, eşten eşe kriptografik sanal para birimi
Exec=cub-qt %u
Terminal=false
Type=Application
Icon=cub128
MimeType=x-scheme-handler/cub;
Categories=Office;Finance;
